Source: ros-jade-designator-integration-msgs
Section: misc
Priority: extra
Maintainer: Jan Winkler <winkler@cs.uni-bremen.de>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-designator-integration-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-message-runtime
Description: Message definitions for communicating serialized designators through ROS topics and services.
